*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #46e06f;
    padding: 10px 0;
}

ul {
    list-style: none;
}
